body {
  font-family: 'Muli', sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 70px;
  background-color: #231F20;
  color: #FFF;
  font-size: 25px;
  font-family: 'Slabo 27px', serif;
}

.form-section {
  padding: 0px 20px;
  background-color: #231F20;
}

.url-form {
  display: flex;
  flex-direction: column;
  color: #FFF;
}

.url-form p {
  display: inline;
  font-size: 13px;
}

.form-fields {
  margin-bottom: 10px;
  padding: 5px;
}

.dropdown-form {
  -webkit-appearance: button;
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
  background-position: 97% center;
  background-repeat: no-repeat;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.submit {
  width: 100px;
  border: none;
  margin: 10px auto;
  padding: 5px;
  background-color: #FF9280;
  color: #FFF;
}

.folders-header {
  color: #FFF;
  background-color: #FF9280;
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
  font-family: 'Slabo 27px', serif;
}

.folder-form-section {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

 .submit-folder {
   background-color: #231F20;
   color: #FFF;
   border: none;
   padding: 5px;
 }

.folder-list {
  overflow: auto;
  height: 300px;
}

.folder-list-item {
  background: url('./images/folder-closed.svg') no-repeat left;
  height: 25px;
  padding-left: 69px;
  padding-top: 9px;
  margin: 15px 15px;
}

.arrow {
  width: 20px;
  height: 20px;
  float: right;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: #231F20;
  text-align: center;
  color: #FFF;
  width: 100%;
  padding: 10px 0;
}

.footer-title {
  font-family: 'Slabo 27px', serif;
}
