body {
  font-family: 'Muli', sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 70px;
  background-color: #231F20;
  color: #FFF;
  font-size: 25px;
  font-family: 'Slabo 27px', serif;
}

.form-section {
  padding: 0px 20px;
  background-color: #231F20;
}

.url-form {
  display: flex;
  flex-direction: column;
  color: #FFF;
}

.url-form p {
  display: inline;
  font-size: 13px;
}

.form-fields {
  margin-bottom: 10px;
  padding: 5px;
}

.submit {
  width: 100px;
  border: none;
  margin: 10px auto;
  padding: 5px;
  background-color: #FF9280;
  color: #FFF;
}

.folders-header {
  color: #FFF;
  background-color: #FF9280;
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
  font-family: 'Slabo 27px', serif;
}

.folder-list-item {
  background: url('./images/folder-closed.svg') no-repeat left;
  height: 25px;
  padding-left: 69px;
  padding-top: 9px;
  margin: 35px 15px;
}

.arrow {
  width: 20px;
  height: 20px;
  float: right;
}

footer {
  position: absolute;
  bottom: 0;
  background-color: #231F20;
  text-align: center;
  color: #FFF;
  width: 100%;
  padding: 10px 0;
}

.footer-title {
  font-family: 'Slabo 27px', serif;
}
